@font-face {
	font-family: 'Gilroy-Black';
	src: url('../fonts/gilroy-black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-BlackItalic';
	src: url('../fonts/gilroy-blackitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-blackitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-blackitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-blackitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-blackitalic.svg#gilroy-blackitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-BoldItalic';
	src: url('../fonts/gilroy-bolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bolditalic.svg#gilroy-bolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-ExtraBoldItalic';
	src: url('../fonts/gilroy-extrabolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-extrabolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-extrabolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-extrabolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-extrabolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-extrabolditalic.svg#gilroy-extrabolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Heavy';
	src: url('../fonts/gilroy-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-heavy.svg#gilroy-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-HeavyItalic';
	src: url('../fonts/gilroy-heavyitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-heavyitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-heavyitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-heavyitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-heavyitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-heavyitalic.svg#gilroy-heavyitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-LightItalic';
	src: url('../fonts/gilroy-lightitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-lightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-lightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-lightitalic.svg#gilroy-lightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-MediumItalic';
	src: url('../fonts/gilroy-mediumitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-mediumitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-mediumitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-mediumitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-mediumitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-mediumitalic.svg#gilroy-mediumitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-RegularItalic';
	src: url('../fonts/gilroy-regularitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-regularitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-regularitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regularitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-regularitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-regularitalic.svg#gilroy-regularitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-SemiBoldItalic';
	src: url('../fonts/gilroy-semibolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-semibolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-semibolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-semibolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-semibolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-semibolditalic.svg#gilroy-semibolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Thin';
	src: url('../fonts/gilroy-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-thin.svg#gilroy-thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-ThinItalic';
	src: url('../fonts/gilroy-thinitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-thinitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-thinitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-thinitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-thinitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-thinitalic.svg#gilroy-thinitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-UltraLight';
	src: url('../fonts/gilroy-ultralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-ultralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-ultralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-ultralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-ultralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-ultralight.svg#gilroy-ultralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-UltraLightItalic';
	src: url('../fonts/gilroy-ultralightitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-ultralightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-ultralightitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-ultralightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-ultralightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-ultralightitalic.svg#gilroy-ultralightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
	font-family: 'Gilroy-Regular', sans-serif;
	font-weight: normal;
	margin: 0;
	color: #000;
	min-width: 320px;
	font-weight: 400;

	overflow-x: hidden;
	padding: 0 !important;
	transition: all 0.3s;
	scroll-behavior: smooth;
}

*,
*:focus {
	outline: none !important;
}

a {
	transition: all 0.2s;
}

a:hover,
a:focus {
	text-decoration: none;
}
/* a:not([class]) {
	color: #526272;
opacity: 0.5;
}

a:not([class]):hover,
a:not([class]):focus {
	text-decoration: none;
	opacity: 1;
	color: #526272;
}
 */
button {
	background: none;
	border: none;
}

ul {
	padding: 0;
	margin: 0;
}

.container_full {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	width: initial;
}

ul {
	padding: 0;
	margin: 0;
}

.topmenu ul li a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	padding: 18px 0;
	position: relative;
	border-bottom: 5px solid #fff;
	color: #526272;
	white-space: nowrap;
	font-weight: 600;
	display: block;
}

.topmenu ul li a:hover {

	color: #25B757;
}

.topmenu ul li.active a {
border-bottom: 5px solid #25B757;
}

.topmenu ul {
	
}


.topmenu ul {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: 525px;
	width: 100%;
}

.topmenu ul li {
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0 22px;
}
.headertop {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.location {
	display: flex;	
	align-items: center;
	width: 200px;
}

.location__icon {
	margin-right: 18px;
}
.location__title {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 100%;
	/* identical to box height, or 14px */

	display: flex;
	align-items: center;

	color: #526272;
}

.headercontact {
	display: flex;	
	align-items: center;
}
.headercontact__icon {
	padding-right: 12px;
}

.link {
	color: #526272;
	text-decoration: none;
	position: relative;
	 -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.link:hover  {
	color: #526272;
}
.link:focus, .link:visited, .link:active {
	opacity: 0.5;
}



.link:after {
	content: "";
	height: 0;
	position: absolute;
	bottom: -1px;
	left: 0;
	display: bloc;
	padding: 2px;
	width: 100%;
	border-bottom: 2px dotted rgba(82,98,114, 0.5);	
	 -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.link:hover:after {
	width: 50%;
}
.link:focus:after {
	width: 25%;
}
.link:visited:after {
	width: 25%;
}

.link_green {
	color: #25B757;
	text-decoration: none;
	position: relative;
	 -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.link_green:after {
	content: "";
	height: 0;
	position: absolute;
	bottom: -1px;
	left: 0;
	display: bloc;
	padding: 2px;
	width: 100%;
	border-bottom: 2px dotted #25B757;	
	 -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.link_green:hover, .link_green:focus, .link_green:visited {
	color: #25B757;
}

.link_green:hover:after {
	width: 50%;
}
.link_green:focus:after {
	width: 25%;
}
.link_green:visited:after {
	width: 25%;
}



.location__content a {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */
}

.location__tooltip {
	display: none;
}

.headercontact__contact a {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */
border: none;
display: flex;
align-items: center;

color: #25B757;

}
.headercontact__link a {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */


color: #526272;
}

.headercontact__link a {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */


color: #526272;
}

.linkgreen {
	color: #526272;
}
.linkgreen:hover {
	opacity: 0.5;
}
.linkgreen:focus {
	opacity: 0.7;;
}
.linkgreen:visited {
	opacity: 0.7;
}


.headercontact__link {
	line-height: 100%;
}

.logo a {
	border-bottom: none;
}

.topmenu {
	padding: 0 30px;
}

.location__city {
	line-height: 1.2;
}

.header__top {
	border-bottom: 1px solid #E9E9E9;
}

.btn_main {

	padding: 18px 22px;
	background: #25B757;
	border-radius: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	   box-shadow: 0 10px 20px -12px #25B757;
}

.btn_main:hover {
	background: #20CF5C;
	color: #FFFFFF;
}
.btn_main:focus {
	background: #16A246;
	color: #FFFFFF;
}
/* .btn_main:visited {
	background: #16A246;
	color: #FFFFFF;
} */
.btn_main:disabled {
	opacity: 0.5;
	color: #FFFFFF;
}

.menubtn {
	height: 46px;
	line-height: 46px;	
	padding: 0 22px;
	width: 242px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	    box-shadow: 0 10px 20px -12px #25B757;
}

.menubtn__title {
	padding-left: 17px;
}
.search  {
	position: relative;
	width: 801px;
	
}
.search input[type="text"] {
	width: 100%;
	display: block;
	height: 46px;
	line-height: 44px;	
	background: #F8F8F8;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	border-radius: 50px;
	padding: 0 42px;
}
.search__placeholder {
    position: absolute;
	width: 100%;
	display: block;
	height: 46px;
	line-height: 44px;	
	top: 0;
	left: 0;
	font-size: 16px;
	padding: 0 42px;
}

.search button {
	position: absolute;
	right: 0;
	width: 80px;
	top: 0;
	height: 45px;
}

.search__placeholder .link_green {
	font-weight: bold;
}

.login__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 41px;
	
}
.login {
	padding: 0 30px;
	border-left: 1px solid #E9E9E9;
	border-right: 1px solid #E9E9E9;
	min-width: 150px;
	
}

.cart__value {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 100%;
	/* identical to box height, or 18px */

	color: #25B757;
}

.cart__currency {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 100%;
	/* identical to box height, or 18px */
	opacity: 0.5;

	color: #526272;
}
.cart__count {
	background: #25B757;
	border-radius: 32px;
	display: block;
	position: absolute;
	left: 22px;
	top: -3px;
	font-weight: 500;
	font-size: 12px;
	line-height: 100%;
	/* identical to box height, or 12px */
	width: 30px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	color: #FFFFFF;
}
.cart {
	position: relative;
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 120px;
}

.headermain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.cart__icon {
	padding-right: 30px;
	
}

.header__content {
	padding: 15px 0;
	border-bottom: 1px solid #E9E9E9;
}

.ctooltip {
	display: none;
	position: absolute;
	z-index: 3;	
	padding: 25px 20px;
	background: #F8F8F8;
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 10px 10px 70px rgba(62, 63, 67, 0.2);
	border-radius: 1px;
}

.location_tooltip {
	top: 60px;
	width: 234px;
	height: 189.5px;
	right: 0;
}

.ctooltip:after /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #F8F8F8;
  content: '';
  position: absolute;
  left: 70%;
  top: -10px;
  margin-left: -10px;
}
.ctooltip:before /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 14px solid #FFF;
  content: '';
  position: absolute;
  left: calc(70% - 3px);
  top: -14px;
  margin-left: -10px;
}


.login_tooltip1 {
	display: none;
	width: 240px;
	right: -50px;
	top: 63px;
}


.login_tooltip1:after /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #F8F8F8;
  content: '';
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -10px;
}
.login_tooltip1:before /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 14px solid #FFF;
  content: '';
  position: absolute;
  left: calc(50% - 3px);
  top: -14px;
  margin-left: -10px;
}

.location {
	position: relative;
}

.location__wvalue {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	/* identical to box height, or 18px */
padding-bottom: 15px;
	color: #526272;
}

.location__wtitle {
	font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
padding-bottom: 10px;
/* identical to box height, or 14px */

}
.location__wyes {
	margin-bottom: 15px;
}
.location__wyes .btn_main {
	 
	padding: 0;
	width: 83px;
	height: 38px;
	line-height: 38px;
	border-radius: 5px;
}
.location__wno a {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */


color: #526272;
}

.btn_large {
	height: 52px;
	line-height: 52px;
	padding: 0 36px;
	font-size: 16px;
	display: inline-block;
	margin: auto;
	width: initial;
}

.login__text {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

text-align: center;
text-transform: uppercase;

color: #526272;

opacity: 0.5;
}

a.linkgreen {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    border: none;
    display: flex;
    align-items: center;
    color: #25B757;
}

.login__button {
	margin-bottom: 15px;
}
.login__text {
	margin-bottom: 15px;
}
.login__wrapper {
	text-align: center;
}

.login__link a {
	display: block;
}

.login {
	position: relative;
}
.login__link a  {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	cursor: ponter;
	/* identical to box height, or 21px */
    margin: 0 10px;

	color: #526272;
}

.login__image {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-color: #25B757;
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 10px auto;
		text-align: center;
}



.login__profile {
	text-align: center;
	margin-bottom: 30px;
}

.login_tooltip2 {
	padding: 34px;
	display: none;
	width: 366px;
	right: -30px;
	top: 63px;
}

.login_tooltip2:after /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #F8F8F8;
  content: '';
  position: absolute;
  left: 70%;
  top: -10px;
  margin-left: -10px;
}
.login_tooltip2:before /* triangle decoration */ {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 14px solid #FFF;
  content: '';
  position: absolute;
  left: calc(70% - 3px);
  top: -14px;
  margin-left: -10px;
}
.login__name {
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 150%;

text-align: center;
	text-align: center;
color: #526272;
	margin: 0 auto 10px auto;
}

.login__username {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	

	color: #526272;
	text-align: center;
	opacity: 0.6;
	margin: 0 auto 10px auto;

}

.linkslist ul > li {
	list-style: none;
	text-align: left;
	margin-bottom: 2px;
}
.linkslist ul > li > a {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: #526272;
	padding: 6px 4px;

	position: relative;
}
.linkslist ul > li > a:hover {
	opacity: 0.5;
}

.linkslist ul > li > a:after {
	position: absolute;
	content: "";
	height: 1px;
	bottom: 0;
	left: 0;
	width: 100%;
	right: 0;
	background: #526272;
	opacity: 0.2;
}

.login__exit {
	margin-top: 50px;
}
.login__exit a span {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 100%;


color: #526272;

opacity: 0.5;
}

.login__exit a:hover svg g, .login__exit a:hover span {
	opacity: 1;
}

.mainmenu__wrapper {
	
	background: #fff;
	display: none;
}
.categories__title {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	/* identical to box height, or 18px */
	color: #526272;
	margin-bottom: 11px;
}

hr {
	height: 1px;
	width: 100%;
	background: #526272;
	opacity: 0.2;
	margin: 25px 0;
	border: none;
}

.categories__links {
	margin: 11px 0;
}

.categories__subtitle {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */
	color: #526272;
	margin-bottom: 10px;
	padding-top: 10px;
}

.categories__list > ul > li {
	list-style: none;
	padding: 2px 0;	
}

.categories__list > ul > li > a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */
	color: #526272;
	
}



.categories__all a span {
	padding-right: 5px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	/* identical to box height, or 18px */


	color: #526272;

}


.mainmenu__links > ul {
	width: 320px;
	background: #fff;
}

.mainmenu__links > ul > li {
	list-style: none;
	padding-bottom: 5px;
	display: block;
}
.mainmenu__links > ul > li:last-child {

	padding-bottom: 0;
}
.mainmenu__links > ul > li > a {
	height: 38px;
	line-height: 38px;
	white-space: nowrap;
	display: block;
	padding: 0 38px 0 30px;
	background: #F8F8F8;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	color: rgba(82, 98, 114, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainmenu__links > ul > li > a:hover {
	background: #25B757;
	color: #fff;
}
.mainmenu__links > ul > li > a:hover svg path {
	fill: #fff;
	opacity: 1;
}
.mainmenu__links > ul > li.active > a{
	background: #25B757;
	color: #fff;
}
.mainmenu__links > ul > li.active > a svg path {
	fill: #fff;
	opacity: 1;
}

.container__mainmenu {
	position: relative;
}

/* .mainmenu {
    position: absolute;
    left: 15px;
    top: -47px;
    width: 242px;
    height: 100%;
    padding-top: 100px;
	    z-index: -1;
}
 */

.mainmenu__content {
	position: absolute;
	 left: 15px;
	top: 30px;
	 /*    left: 0;
    top: 78px; */
	box-shadow: 10px 10px 40px rgba(62, 63, 67, 0.2);
	border-radius: 5px;
}
.mainmenu__content.full {
	width: 100%;
}


.mainmenu__left {
	width: calc(100% - 374px);
	padding: 36px 45px;
}
.mainmenu__right{
	width: 374px;
}

.mainmenu__cols {
	    width: 100%;
		display: flex;
}

.mainmenu__right {
	border-left: 1px solid #E9E9E9;
}


.productslider {
	padding: 36px 45px;
}
.productslider__container {

	margin: auto;
	position: relative;
	padding-bottom: 30px;
}
.mainmenu__right .productslider__container {
	width: 230px;
	
}

.productslider__title {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	/* identical to box height, or 14px */
	text-align: center;
	color: #526272;
	opacity: 0.5;
	margin-bottom: 15px;
}

.productcart__image {
	height: 190px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 20px 0;
}
.productcart__stock {
	margin-bottom: 10px;
	
}
.instock {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
    font-weight: 600;
	color: #25B757;
}


.mainmenu__right .productcart__name a,
.mainmenu__right .productslider__value,
.mainmenu__right .productcart__price,
.mainmenu__right .productcart__stock,
.mainmenu__right .productcart__button

{
	text-align: center;
}
.mainmenu__right .btn_cart a
{
	margin: 0 auto;
}

.productcart__name a {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

display: block;
color: #526272;

}
.productslider__value {
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;

	color: #526272;
}

.productcart__currency {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 100%;
    opacity: 0.5;
    color: #526272;
}

.productcart__price {
	padding: 15px 0;
}
.btn_cart {
	max-width: 149px;
	height: 48px;
	line-height: 48px;
	padding: 0 22px;
	font-weight: bold;
	
}
.btn_cart span {
	padding-left: 5px;
}

 
.productslider__slider {
	opacity: 0;
}


.productslider .slick-dots li button {
	background: url(/images/dots.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

.productslider .slick-dots li.slick-active button {
	background: url(/images/dots-active.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.productslider .slick-dots {
	bottom: -45px;
}
.mainslider .slick-dots li button {
	background: url(/images/dots2.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

.mainslider .slick-dots li.slick-active button {
	background: url(/images/dots2-active.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.mainslider .slick-dots {
	bottom: 36px;
	right: 36px;
	left: unset;
	    width: initial;
}



.slick-dots li {
	margin: 0;
}
.slick-slider {
    visibility: hidden;
}
.slick-slider.slick-initialized {
    visibility: visible;
}

.mainblock {
	padding: 25px 0 69px 0;
	background: #F9F9F9;
}

.categories__item_small {
	width: 289px;
	height: 236px;
}
.categories__item {
	background: #F9F9F9;
	border: 2px solid #FFFFFF;
	box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px #DFDFDF;
	border-radius: 8px;
	margin: 7px;
}
.categories__items {
	display: flex;
	justify-content: flex-start;
	margin: -7px;
	flex-wrap: wrap;
}

.categories__images {
	width: 170px;
	height: 140px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin: auto;
}
.categories__content {
	padding: 13px 31px;
	position: relative;
	height: 100%;
}

.mainblock__left {
	width: 592px;
}
.categories__content a {
	display: block;
}
.categories__name {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 100%;
/* or 18px */


color: #526272;
margin-bottom: 2px;
}

.categories__count {
	font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #526272;

opacity: 0.5;
}

.categories__bottom {
	position: absolute;
	bottom: 13px;
	left: 31px;
}
.mainslider__title {
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 100%;
/* or 30px */

max-width: 370px;
color: #FFFFFF;
position: absolute;
left: 36px;
bottom: 36px;
}


.mainblock__content {
	display: flex;
	width: 100%;
	justify-content: space-between;
	
}

.mainblock__left {
	margin-right: 14px;
	
}

.mainblock__right {
	width: calc(100% - 606px);
	
}
.mainslider {
	height: 100%;
}
.mainslider__container {
	height: 100%;
	    position: relative;
}
.mainslider__slider {
	height: 100%;
}
.mainblock__slider {
	height: 100%;
}

.mainslider__slider > div {
	height: 100%;
}.mainslider__slider > div > div {
	height: 100%;
}


.mainslider__slide {
	height: 100%;
}
.mainslider__content {
	position: relative;
    border-radius: 5px;
    height: 100%;
    background-position: center;
    overflow: hidden;
    background-size: 108%;
}

.tabs__name {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 100%;


color: #526272;

margin: 10px 0px;
}
.tabs__count {
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 100%;
margin: 0;

color: #25B757;


margin: 0px;
}
.tabs__caption li.active  .tabs__count {

color: #fff;

}


.tabs__caption li {
	height: 60px;
	cursor: pointer;
	display: inline-block;
	background: none;
	border-radius: 5px;
	    text-align: center;
    line-height: 60px;
    white-space: nowrap;
	padding: 0 36px;
	margin: 0 5px;
}
.tabs__caption li.active {
	
	height: 60px;
box-shadow: 0 10px 20px -12px #25B757;
	background: #25B757;
	border-radius: 5px;
}

.tabs__caption li.active .tabs__name {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 100%;


color: #FFFFFF;


margin: 10px 0px;
}

span.tabs__title {
    position: relative;
}


span.tabs__count {
    position: absolute;
    right: -13px;
    top: -1px;
}

.tabsblock {
	padding: 59px 0;
}

.tabs__caption {
	text-align: center;
}

.tabs__content {
	opacity: 0;
	height: 0;
}
.tabs__content.active {
	opacity: 1;
	height: initial;
}

.productcart {
	background: #FFFFFF;
	box-shadow: 0px 4px 34px #EEEEEE;
	border-radius: 8px;
	padding: 30px 30px 20px 30px;
	margin: 7px;
}


.productcart__name a {
	height: 40px;
    overflow: hidden;
}


.fastview {
	background: #FFFFFF;
	box-shadow: 0px 4px 34px #EEEEEE;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 48px;
	position: absolute;
	display: none;
}
.fastview span {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 100%;
padding-left: 10px;
color: #526272;
}


.productcart:hover  {
	background: #FFFFFF;
	box-shadow: 0px 4px 34px #D0D0D0;
	border-radius: 8px;
	transition: all .35s ease;
}

.productcart:hover .productcart__name a {
	transition: all .35s ease;
	height: initial;
}
.productcart:hover .fastview {
	display: flex;
	transition: all .35s ease;
}
.productcart:hover .productcart__image img {
	opacity: 0.2;
	transition: all .35s ease;
}

.productslider__slider-five .slick-list {
	padding: 35px 20px;
}
.productslider__container {
	margin: 0 -20px;
}
.productslider {
	padding: 0;
}

.productcart__oldprice .productslider__value {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: line-through;
	color: #526272;
	opacity: 0.5;
}
.productcart__prices {
	position: relative;
}

.productcart__oldprice {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.productcart__stickers {
	display: flex;
	justify-content: center;
	position: absolute;
	    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: fit-content;
	
}
.productcart {
	position: relative;
}

.productcart__sticker {
	min-width: 58px;
	padding: 0 10px;
	
	height: 28px;	
	background: #25B757;
	margin: 0 2px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height:28px;
  white-space: nowrap;
	color: #FFFFFF;
}

.productcart__sticker_new {
	background: #526272;
}

.productcart__sticker_sale {
	background: #25B757;
	
}

@media (min-width: 1000px) {
	.mainmenu__wrapper.active {
			display: block;
			justify-content: space-between;
		position: absolute;
		top: 0;
		left: 320px;
		height: 100%;
		overflow: hidden;
		width: calc(100% - 320px);
		
	}
	
	.mainmenu__links ul > li > a:hover .mainmenu__wrapper {
		display: block;
		position: absolute;
		top: 0;
		left: 320px;
		height: 100%;
		overflow: hidden;
		
	} 
	
	
	
}


.form__input input[type="text"],
.form__input input[type="tel"],
.form__input input[type="email"] {
	background: #fff;
	border-radius: 0;
	border: 1px solid rgb(154, 154, 154);
	font-size: 13px;
	color: rgb(154, 154, 154);
	width: 100%;
	max-width: 296px;
	margin: auto;
	display: block;
	height: 42px;
	line-height: 40px;
}

.form__input textarea {
	background: #fff;
	border-radius: 0;
	border: 1px solid rgb(154, 154, 154);
	font-size: 13px;
	color: rgb(154, 154, 154);
	width: 100%;
	padding: 10px 20px;
	margin: auto;
	display: block;
}

.check label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-weight: 300;
}

.check label a {
	font-weight: 200;
	border-bottom: 1px solid #7bb3cb;
	color: rgb(255, 255, 255);
}

.check label a:hover {
	border-bottom: none;
}

.check input[type=checkbox] {
	display: none;
}

.check label:before {
	background: url(/images/checkbox.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_checked.png) left center no-repeat;
}



#modal_close_href {
	cursor: pointer;
}

.modal-body {
	padding: 0 30px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 390px;
	}
}

.modal {
	overflow-y: auto;
}

body.modal-open {
	overflow: inherit;
	padding-right: 0 !important;
}

.modal-content {
	padding: 25px 30px;
	border-radius: 0;
	border: none;
}

.modal__form {
	margin: 20px 0 0 0;
}

.modal {
	text-align: center;
}

.modal-title {
	font-size: 24px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
	margin-bottom: 15px;
}

.modal__form .form__textbtn {
	color: rgb(45, 76, 125);
	padding-bottom: 0;
}

.modal__form .form__textbtn a {
	color: rgb(45, 76, 125);
}

.modal__form {
	margin: 20px 0 0 0;
	max-width: 250px;
	margin: 20px auto 0 auto;
	text-align: center;
}

.modal__form .btn_main {
	width: 100%;
	max-width: 100%;
}

.form-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.form-group_last {
	margin-bottom: 10px;
	margin-top: 10px;
}


input[type="text"].input-error,
input[type="tel"].input-error,
input[type="email"].input-error,
textarea.input-error,
input[type="text"].input-error {
	color: #cc0000;
	border: 1px solid #cc0000;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
textarea:disabled,
input[type="text"]:disabled,
input:disabled {
	background: #e7e7e7;
	color: #333;
	border: 1px solid #e7e7e7;
}

@media screen and (min-width: 992px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.close {
	position: absolute;
	z-index: 99;
	right: 8px;
	top: 5px;
	float: none;
	font-size: 17px;
	opacity: 1;
}

.closemenu {
	display: none;
}

.menumobile {
	display: none;
}

.mobileheader {
	display: none;
}

.menufixed {
	display: none;
}

#header.fixed {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	background: #fff;
	animation: smoothScroll 0.4s forwards;
	padding: 0;
	z-index: 9;
	box-shadow: 0 0 10px -2px #777;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

.breadcrumbs ul {
	padding: 10px 0 0 0;
	list-style: none;
}

.breadcrumbs ul li {
	display: inline;
	font-size: 18px;
}

.breadcrumbs ul li+li:before {
	padding: 0 2px;
	color: black;
	content: "/\00a0";
	font-size: 13px;
}

.breadcrumbs ul li a>span {
	color: rgb(156, 155, 155);
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
}

.breadcrumbs ul li>span {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
}

.breadcrumbs ul li a:hover span {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.breadcrumbs ul li a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

@media (min-width: 1024px) {

}


::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 15px;
	color: #666666;
}

::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 15px;
	color: #666666;
}

:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 15px;
	color: #666666;
}

:-moz-placeholder {
	/* Firefox 18- */
	font-size: 15px;
	color: #666666;
}

.radio label {
	font-size: 13px;
	margin: 0;
}

.radio input[type="radio"] {
	-ms-transform: scale(0.8);
	/* IE 9 */
	-webkit-transform: scale(0.8);
	/* Chrome, Safari, Opera */
	transform: scale(0.8);
	vertical-align: middle;
}

input.quantity-field {
	max-width: 52px;
	background: #e6e6e6;
	border: none;
	height: 26px;
	font-size: 13px;
	text-align: center;
}

input.quantity-field::-webkit-outer-spin-button,
input.quantity-field::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.quantity input[type="button"] {
	background: none;
	border: none;
	font-weight: 500;
	font-size: 29px;
	line-height: 1;
	vertical-align: sub;
	height: 26px;
	padding: 0 2px;
}

input.quantity-plus {
	position: relative;
	top: 1px;
}

input.quantity-minus {
	position: relative;
	top: -1px;
}

.customselect select {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari and Chrome */
	appearance: none;
	background-image: url(/images/selct.png);
	background-repeat: no-repeat;
	background-position: right 5px center;
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-size: 13px;
	padding: 3px 30px 3px 10px;
	width: 160px;
}

.breadcrumbs ul li+li:before {
	content: url(/images/breadcrumbs.png);
	padding: 0 7px 0 5px;
}

.breadcrumbs ul li>span {
	font-size: 13px;
	color: rgb(128 128 128);
}

.breadcrumbs {
	text-align: center;
}

.accordeon__title {
	background: linear-gradient(180deg, rgba(223, 218, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background-repeat: no-repeat;
	transition: all 0.2s ease;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	padding: 10px 20px 10px 30px;
	font-size: 18px;
	color: #666;
	font-weight: bold;
	white-space: nowrap;
	height: 46px;
	line-height: 46px;
	padding: 0 20px 0 10px;
}

.accordeon__title:after {
	content: "";
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(/images/accordeon_down.png);
	background-position: center;
	width: 17px;
	height: 100%;
	background-repeat: no-repeat;
}

.accordeon__title.active:after {
	content: "";
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(/images/accordeon_up.png);
	background-position: center;
	width: 17px;
	height: 100%;
	background-repeat: no-repeat;
}

.accordeon__content {
	display: none;
	border-top: 2px solid #e5e5e5;
	padding: 15px 0 30px 0;
}

.accordeon {
	padding: 20px 0;
}

@media (max-width: 1279px) {}

@media (max-width: 1023px) {
	button.menumobile {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 15px 5px;
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}
	button.menumobile span {
		padding-left: 10px;
	}
	.header__menu {
		position: relative;
	}
	.mainmenu ul li a {
		font-size: 13px;
		display: block;
		border-bottom: 1px solid #e0e0e0;
		padding: 4px 0;
		color: #fff;
	}
	.mainmenu ul li {
		margin: 0;
		padding: 0 11px;
	}
	.mainmenu ul {
		margin: 0;
	}
	.mainmenu nav>ul {
		display: block;
	}
	.mainmenu nav>ul>li>a {
		font-size: 12px;
		padding: 0 10px;
	}
	.mainmenu {
		position: absolute;
		z-index: 99;
		background-color: #0077cc;
		max-width: 230px;
		margin: 0;
		top: 42px;
		max-width: 100%;
		left: 0;
		box-shadow: 0px 20px 19px -19px #333333;
		width: 100%;
		padding: 10px 0 10px 0;
		display: none;
		height: initial;
	}
	.mainmenu li {
		display: block;
		width: 100%;
		position: relative;
		text-align: center;
		margin: 0;
	}
	.mainmenu nav>ul>li>a {
		font-size: 16px;
		color: #fff;
		font-weight: 400;
		display: block;
		margin: auto;
		text-align: left;
	}
	.mainmenu li a:after {
		display: none;
	}
	.mainmenu .closemenu {
		display: block;
		text-align: right;
		position: absolute;
		right: 5px;
		top: 0px;
	}
	.mainmenu ul>li .fa-angle-down {
		transform: rotate(0);
		display: block;
		width: 44px;
		text-align: center;
		line-height: 21px;
		position: absolute;
		right: 7px;
		top: 0;
		bottom: 0;
		opacity: 1;
		border-left: 1px solid;
		border-color: inherit;
		font-size: 20px;
		color: #fff;
		z-index: 9;
	}
	.mainmenu__child ul li a {
		color: #000;
	}
	.mainmenu__child ul {
		float: left;
	}
	.mainmenu__child {
		width: 100%;
		max-width: 720px;
		left: 11px;
		min-height: initial;
		top: 24px;
	}
}

@media (max-width: 767px) {
	.mainmenu nav>ul.mobilemenu {
		display: block;
		border-top: 1px solid #fff;
		padding-top: 10px;
		margin-top: 10px;
	}
	.mainmenu__child ul {
		max-width: 100%;
		width: 100%;
		float: none;
	}
	.mainmenu ul li a {
		text-align: left;
	}
}

@media (max-width: 480px) {}